HELP.md
.gradle/
build/
out/
bin/

# Gradle wrapper
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans (Limpieza total) ###
nbproject/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code & STS ###
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### System Files ###
Thumbs.db
desktop.ini
*.log